p,a { 
    color:black; font-family: "Montserrat", sans-serif;
}
.maclass2 {font-size: 1.em;}
p {font-size: 1.1em; text-align: justify;}
.ma-class {color:black; font-size: 1.2em;  font-family: "Montserrat", sans-serif; font-weight: bolder;}
h1,h2 {color: maroon; }
h1 {font-size: 3.5em ;font-family: "Dancing Script", cursive;} 
.maclass3{ color:brown;}
#logo {height:5em;}
body{
    background-color: rgb(238, 216, 186);
}