.ma-class {
    color:black; font-size: 1.2em; font-weight: bold; font-family: "Montserrat", sans-serif;
}
h1, li {color: maroon;}
h1 {font-size: 3.5em; font-family: "Dancing Script", cursive;}
#logo {height: 5em;}
body{
    background-color: rgb(238, 216, 186);
}